.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/

.idea/

ruby-enterprise-1.8.6-20090610

centos_passenger_install.sh

ruby-enterprise-1.8.6-20090610.tar.gz
ruby-enterprise-1.8.6-20090610.tar.gz.1

config/deploy.rb


app/views/companies/test.html.haml

