#left-content
  .left_box
    .left_box_header
      %h1 Company's Quick Links
    %p
      %a{:href => employees_path} Employee
      %br/
      %a{:href => "http://localhost:3000/employees/new"} Add New Employee
      %br/
      %a{:href => "#"} Report
      %br/
      %a{:href => "#"} Salary
      %br/
      %a{:href => "#"} HR Details
      %br/
      %a{:href => "#"} Documents
      %br/
      %a{:href => "#"} Ext. Details