%script{:src => "tabber.js", :type => "text/javascript"}
%link{:href => "example.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
:javascript
  /* Optional: Temporarily hide the "tabber" class so it does not "flash"
     on the page as plain HTML. After tabber runs, the class is changed
     to "tabberlive" and it will appear. */

  document.write('<style type="text/css">.tabber{display:none;}<\/style>');

#form
  .tabber
    .tabbertab
      %h2 Basic Details
      %div
        %table.disp_data{:align => "center", :cellpadding => "2", :cellspacing => "2"}
          %tr
            %td{:width => "155"} Ref No
            %td{:width => "256"}
              %input{:name => "txtRefNo", :type => "text"}/
            %td{:width => "100"} Emp Id
            %td{:width => "361"}
              %input{:name => "txtEmpNo", :type => "text"}/
          %tr
            %td Employee Name
            %td
              %input{:name => "txtEmpName", :size => "30", :type => "text"}/
            %td Short Name
            %td
              %input{:name => "txtshortName", :type => "text"}/
          %tr
            %td Father's Name
            %td
              %input{:name => "txtFName", :size => "30", :type => "text"}/
            %td Mother's Name
            %td
              %input{:name => "txtMName", :size => "30", :type => "text"}/
          %tr
            %td Sex
            %td
              %input{:name => "rbgSex", :type => "radio", :value => "1"}/
              Male
              %input{:name => "rbgSex", :type => "radio", :value => "2"}/
              Female
              %br/
            %td Date Of Birth
            %td
              %input{:name => "txtDOB", :type => "text"}/
          %tr
            %td Date Of Joining
            %td
              %input{:name => "txtDOJ", :size => "30", :type => "text"}/
            %td Date Of Leaving
            %td
              %input{:name => "txtDOL", :size => "30", :type => "text"}
    .tabbertab
      %h2 Classification
      %div
        %table.disp_data{:align => "center", :cellpadding => "2", :cellspacing => "2"}
          %tr
            %td Designation
            %td
              %input{:name => "txtDesignation", :type => "text", :size => "30"}/
            %td{:colspan => "2",:align => "left"}
              %input{:name => "", :type => "button", :value => "..."}/
          %tr
            %td Reports to
            %td
              %input{:name => "txtReport", :type => "text"}/
            %td Commison
            %td
              %input{:name => "txtCommision", :type => "text"}/
          %tr
            %td Department
            %td
              %input{:name => "txtDepartment", :type => "text"}/
            %td Salary
            %td
              %input{:name => "txtSalray", :type => "text"}/
          %tr
            %td Branch
            %td
              %input{:name => "txtBranch", :type => "text"}/
            %td Attendence
            %td
              %input{:name => "txtAttend", :type => "text"}/
          %tr
            %td Bank A/c No.
            %td{:colspan => "2"}
              %input{:name => "txtbank_ac_no", :type => "text"}/
            %td
              %select{:name => "cmbBankType"}
                %option CASH
                %option City Bank
                %option ICICI
                %option HSBC
    .tabbertab
      %h2 Address Details
      %div
        %table.disp_data{:align => "center", :cellpadding => "2", :cellspacing => "2"}
          %tr
            %td Res. No.
            %td
              %input{:name => "txtResNo", :type => "text"}/
            %td Res. Name
            %td
              %input{:name => "txtResName", :type => "text"}/
          %tr
            %td Road/Street
            %td
              %input{:name => "txtRoad", :type => "text"}/
            %td Locality/Area
            %td
              %input{:name => "txtLocality", :type => "text"}/
          %tr
            %td City/Dist.
            %td
              %input{:name => "txtCity", :type => "text"}/
            %td State
            %td
              %input{:name => "txtState", :type => "text"}/
          %tr
            %td{:colspan => "2"}
            %td Pin Code
            %td
              %input{:maxlength => "6", :name => "", :type => "text"}/
    .tabbertab
      %h2 TDS Details
      %div
        %table.disp_data{:align => "center", :cellpadding => "2", :cellspacing => "2"}
          %tr
            %td ESI No.
            %td
              %input{:name => "txtESINo", :type => "text"}
          %tr
            %td ESI Dispensary
            %td
              %input{:name => "txtESIDispensary", :size => "50", :type => "text"}
          %tr
            %td PF No.
            %td
              %input{:name => "txtPfNo", :type => "text"}
          %tr
            %td PF No. for Dept. File
            %td
              %input{:name => "txtPFDeptFile", :size => "50", :type => "text"}
          %tr
            %td TDS Details
          %tr
            %td PAN
            %td
              %input{:name => "txtPAN", :type => "text"}
          %tr
            %td Ward/Circle
            %td
              %input{:maxlength => "6", :name => "", :type => "textWard"}
