#page
<<<<<<< HEAD
  /= render "companies/common"
  /.below_border &nbsp;
=======
  #header
    %h1
      Welcome Aditya! You are logged in as Administrator
      %br>/
      #{Time.now.strftime("%d %b %Y, %I:%M %p")}
  #menu
    %ul
      %li
        %a.selected{:href => root_url} HOME
      %li
        %a{:href => companies_path} COMPANY
      %li
        %a{:href => "#"} EMPLOYEE
  .below_border &nbsp;
>>>>>>> d7d20d697b20fe7a32c3b817c882fafdd2a7aa50
  #left-content
    .left_box
      .left_box_header
        %h1 ToolTips
      %p Use up and down arrow keys to select the vertical navigators in employee summary
    .left_box
      .left_box_header
        %h1 Quick Links
      %p
        %a{:href => "#"} About Us
        %br/
        %a{:href => "#"} Contact Us
        %br/
        %a{:href => "#"} Privacy Policy
    .left_box
      .left_box_header
        %h1 Relyonsoft @ Twitter
      %p
        %a{:href => "#"} For e-file ITRs, you can send ITR-V...
        %br/
        %a{:href => "#"} New System Introduced at TIN...
        %br/
        %a{:href => "#"} Requesting all TAN holders...
        %br/
        %a{:href => "#"} Contact your nearest Relyon Office...
        %br/
        %a{:href => "#"} Get Free Income Tax Software...
        %br/
        %a{:href => "#"} Income Tax Return filing due date...
        %br/
        %a{:href => "#"} NEW: Check you TDS Defaults...
        %br/
  #right-content
    %h1 Welcome to SPP Web Plugin: A Complete Payroll System
    %h2 For Employer
    %ul
      %li Payroll
      %p
        SPP Web Plugin provides flexible payroll services that improve payroll management for employers of small, medium, or large businesses. SPP Web Plugin payroll solutions streamline your payroll process, improve productivity and simplify administration. We manage the time-consuming tasks of payroll processing and employee payroll tax filing so you can focus on running your business. SPP Web Plugin payroll solutions ensure that your payroll needs are met on time, every time.&nbsp;&nbsp;&nbsp;&nbsp;
        %span
          %a{:href => "#"} Read More...
      %li HR
      %p
        Automating the many processes surrounding human resource management enables you and your staff to become more efficient and effective and focus on your organization’s core competencies. Whether your needs are to reduce the manual workload, empower your managers and employees through self service options, or more effectively manage your human capital, SPP Web Plugin suite of HR services can help. &nbsp;&nbsp;&nbsp;&nbsp;
        %span
          %a{:href => "#"} Read More...
      %li Benefit Services
      %p
        SPP Web Plugin offers a comprehensive, single-source solution for outsourced benefits administration. SPP Web Plugin provides employers with simplified benefits management that fits the specific needs of their organization — regardless of company size.&nbsp;&nbsp;&nbsp;&nbsp;
        %span
          %a{:href => "#"} Read More...
      %li Tax & Compliance
      %p
        Staying current on constantly changing tax and unemployment laws and regulations, meeting strict government deadlines, and avoiding costly fines and penalties can be an administrative burden for a company of any size.
        %br/
        SPP Web Plugin Tax & Compliance Services is well versed in governmental regulations and well positioned to help employers to reduce expenses, eliminate manual tasks, and allocate resources for other strategic activities. &nbsp;&nbsp;&nbsp;&nbsp;
        %span
          %a{:href => "#"} Read More...
      %li
        %a{:href => "#"} More Services
  #footer
    \&copy; Copyright 2011, Relyon Softech Limited
    %br>/
    All Rights Reserved.
