%script{:src => "companies.js", :type => "text/javascript"}
%link{:href => "companies.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
:javascript
  /* Optional: Temporarily hide the "tabber" class so it does not "flash"
     on the page as plain HTML. After tabber runs, the class is changed
     to "tabberlive" and it will appear. */

  document.write('<style type="text/css">.tabber{display:none;}<\/style>');
#form

