%script{:src => "companies.js", :type => "text/javascript"}
%link{:href => "companies.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
:javascript

 document.write('<style type="text/css">.tabber{display:none;}<\/style>');

#form
 .tabber
   .tabbertab
    %h2 Shift