#header
  %h1
    Welcome Aditya! You are logged in as Administrator
    %br>/
    #{Time.now.strftime("%d %b %Y, %I:%M %p")}
#menu
  %ul
    %li
      %a{:href => root_url} HOME
    %li
      %a{:href => companies_path} COMPANY
    %li
      %a{:href => employees_path} EMPLOYEE
    %li
      %a{:href => timemanagements_path} TA
    %li
      %a{:href => salaries_path} SALARY
    %li
      %a.selected{:href => employees_path} LEAVE
.below_border &nbsp;
#left-content
  .left_box
    .left_box_header
      %h1 Leave Module Links
    %p
      %a{:href => leaves_path} Leave
      %br/
      %a{:href => "#"} Add New Leave
      %br/
      %a{:href => "#"} Configure Attendance
      %br/
      %a{:href => "#"} General Settings
      %br/
      %a{:href => "#"} Holiday List
      %br/