<<<<<<< HEAD
#header
  %h1
    Welcome Aditya! You are logged in as Administrator
    %br>/
    #{Time.now.strftime("%d %b %Y, %I:%M %p")}
#menu
  %ul
    %li
      %a{:href => root_url} HOME
    %li
      %a.selected{:href => companies_path} COMPANY
    %li
      %a{:href => "#"} EMPLOYEE
    %li
      %a{:href => timemanagements_path} TA
.below_border &nbsp;
=======
>>>>>>> 45e571493c52e68ba119a3732f4152fc10713b9d
#left-content
  .left_box
    .left_box_header
      %h1 Company's Quick Links
    %p
      %a{:href => "#"} Groups
      %br/
      %a{:href => companies_path} Company List
