#left-content
  .left_box
    .left_box_header
      %h1 Company's Quick Links
    %p
      %a{:href => "#"} Add Group
      %br/
      %a{:href => new_company_path} Add New Company
      %br/
      %a{:href => "#"} Add PF Account
      %br/
      %a{:href => "#"} Add ESI Account
      %br/
      %a{:href => "#"} Add New Branch
      %br/
      %a{:href => "#"} Privacy Policy