// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.companies {
  // Add the companies class to your body tag
  // Then, place scoped styles here.
}


th {
    background-color:#f1f1f1;
    height:25px;
    text-align:left;
    padding-left:5px;
    padding-right:5px;
}

td {
    height:25px;
    text-align:left;
    padding-left:5px;
}

.b {
    border:1px solid;
}

.btrb {
    border-top:1px solid;
    border-right:1px solid;
    border-bottom:1px solid;
}

.blrb {
    border-left:1px solid;
    border-right:1px solid;
    border-bottom:1px solid;
}

.brb {
    border-right:1px solid;
    border-bottom:1px solid;
}

.disp_data {
    width:99%;
    border:1px solid #000000;
    background-color: #f1f1f1;
    border-radius:5px;
}

.td_width {
    width:130px;
}

.td_height_form {
    height:5px;
}

.spacing {
    height:15px;
}

.main_title {
    background-color: #943C09;
    color: #ffffff;
}

div.domtab  {
    padding:0 3em;
    width:80%;
    font-size:90%;
}
ol.domtabs{
    float:left;
    width:100%;
    margin:2em 0 0 0;
    list-style: none;
}
ol.domtabs li{
    float:left;
    padding:0 .5em 0 0;
}
ol.domtabs a:link,
ol.domtabs a:visited,
ol.domtabs a:active,
ol.domtabs a:hover{
    width:8em;
    padding:.2em 1em;
    display:block;
    background:#666;
    color:#ccc;
    height:3em;
    font-weight:bold;
    text-decoration:none;
}
html>body ol.domtabs a:link,
html>body ol.domtabs a:visited,
html>body ol.domtabs a:active,
html>body ol.domtabs a:hover{
    height:auto;
    min-height:3em;
}
ol.domtabs a:hover{
    background:#696;
}
div.domtab div{
    clear:both;
    width:auto;
    background:#696;
    color:#fff;
    padding:1em 3em;
}
ol.domtabs li.active a:link,
ol.domtabs li.active a:visited,
ol.domtabs li.active a:active,
ol.domtabs li.active a:hover{
    background:#696;
    color:#fff;
}
#domtabprintview{
    float:right;
    padding-right:1em;
    text-align:right;
}
#domtabprintview a:link,
#domtabprintview a:visited,
#domtabprintview a:active,
#domtabprintview a:hover{
    color:#fff;
}
div.domtab div a:link,
div.domtab div a:visited,
div.domtab div a:active
{
    color:#fff;
    display:block;
    padding:1em .5em;
    font-weight:bold;
    font-size:1.3em;
}
div.domtab div h2 a,
div.domtab div h2 a:hover,
div.domtab div h2 a:active
{
    color:#cfc;
    display:inline;
    padding:0;
    font-weight:normal;
    font-size:1em;
}
