body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0px;
  padding: 0px;}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  text-decoration:none;
  &:visited {
    color: #666; }
  &:hover {
    color: #943C09;
     } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


#page {

}

#header {
    background: url("/assets/relyon-logo.gif") no-repeat top left;
    height:50px;

    h1 {
        margin-right: 10px;
        font-size:12px;
        font-weight:normal;
        float:right;
        padding-top:7px;
    }
}


#menu, #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #000000;
    height:30px;

    li {
        float: left;
        position: relative;
        margin-left:30px;
        padding-top:5px;

        a {
            color: #ffffff;
            text-decoration:none;
            height: 30px;
            padding:6px 7px 12px 7px;
        }

        a:hover {
            background-color: #f1f1f1;
            color: #000000;

        }
    }
}

#menu li>ul { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
    top: auto;
    left: auto;
}

#menu li:hover ul, li.over ul { /* lists nested under hovered list items */
    display: block;
}

.below_border {
    background-color: #943C09;
    height:5px;
}

.selected {
    background-color: #943C09;
    height:31px;
}



#left-content {
    float:left;
    margin: 10px;
    clear:both;

   .left_box {
    border: 1px solid #000000;
    width:300px;
    margin-bottom:25px;

        .left_box_header {
            background-color: #943C09;
            height:25px;

            h1 {
                color:#ffffff;
                font-size:13px;
                font-weight: normal;
                margin: 0px;
                padding: 2px 5px 2px 5px;
            }
        }

        p {
           margin:0;
           padding:5px;
           font-size:12px;
        }
    }
}

#right-content {
    margin-left: 350px;

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px;
        color: #943C09;
        font-weight:normal;
    }

    ul {

        li {
           margin-top:20px;
           font-size:12px;
           list-style-image: url("/assets/images.jpeg");

        }

        span {
           font-size:12px;
           margin:0 0 20px 0;

           span {
               font-size:11px;
           }
        }
    }
}

#footer {
    margin-top:50px;
    font-size:11px;
    text-align:center;

}


